body {
    background-color: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%)
}

.container {
position: absolute;
background-color: #1aa4b8;
width: 30%;
height: 40;
border-radius: 20px 20px;
padding: 50px;
margin: 20px;
/* margin-top: 10%; */
color: black;
height: absolute;
text-align: left;
justify-content: center;
/* display: inline; */
left: 35%;

}

.container:hover {
    box-shadow: 5px 5px 5px 5px #888888;
}

.invoice {
position: absolute;
right: 60%;
margin-top: 10%;
background-color:white;
border: 5px solid #1aa4b8;
border-radius: 20px 20px;
padding: 50px;
margin: 20px;
height: absolute;  
text-align: left; 
width: absolute;
}

.invoice:hover {
    box-shadow: 5px 5px 5px 5px #888888;
}

input{
    width: 100%;
    color: black;
    background-color: #1aa4b8;
}
.form{
    justify-content: center;
}