.modal-header{
justify-content: center;
}
.dot{
    border-bottom: 2px dotted;
}
.dot1{
    border-bottom: 2px dotted;

}
.dot2{
    border-bottom: 2px dotted;
  
}
.total{
    justify-content: center;
}
.GST{
    position: absolute;
  
}
.reset-button{
    background-color: none;
    color: #800000;
    width: 100%;
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 40px;
    border-radius: 12px;
}
.print-button{
    background-color: none;
    width: 100%;
    color: #000080;
    height: 40px;
    border: 2px solid black;
    border-radius: 12px;
   
}
.print-button:hover{
   background-color:  #000080;
   color: white;
}
.reset-button:hover{
    background-color:  #800000;
    color: white;
}