.modal-header{
justify-content: center;
}
.dot{
    border-bottom: 2px dotted;
}
.dot1{
    border-bottom: 2px dotted;

}
.dot2{
    border-bottom: 2px dotted;
  
}
.total{
    justify-content: center;
}
.GST{
    position: absolute;
  
}
.reset-button{
    background-color:#800000;
    color: white;
    width: 110%;
    border: 2px solid black;
    margin-bottom: 5px;
    margin-top: 5px;
}
.print-button{
    background-color:#000080;
    width: 100%;
    color: white;
    border: 2px solid black;
}